In [ ]:
import mysql.connector
from tkinter import *
from tkinter import messagebox
from tkinter import ttk
import os
import sys
# import subprocess


win=Tk()
win.title("STUDENT MANAGEMENT SYSTEM")

win.geometry('1273x637+-5+0')
win.configure(bg='darkseagreen1')

#==================================================================#

rn1=StringVar()    # Roll Number
na1=StringVar()    # Name of student
fa1=StringVar()    # father's name 
mo1=StringVar()    # mother's name
ca1=StringVar()    # Caste
pl1=StringVar()    # place of birth
db1=StringVar()    # DOB
db2=StringVar()    # DOB in words
la1=StringVar()    # Last school/college
ad1=StringVar()    # DOA
mb1=StringVar()    # mobile number


#=======================SHOW===========================================#

def show():
    
    conn=mysql.connector.connect(host='localhost',user='root',passwd='********',database="project")
    mycur=conn.cursor()
    mycur.execute("select * from prot2")
    result=mycur.fetchall()
    for res in result:
        treev.insert("",'end',values=(res[0],res[1],res[2],res[3],res[4],res[5],res[6],res[8],res[9]))  # it is in tuple format
        
#=======================ADD===========================================#

def add():
    
    global rn1
    global na1
    global fa1
    global mo1
    global ca1
    global pl1
    global db1
    global db2
    global la1
    global ad1
    global mb1

    roll_no=rn1.get()
    name=na1.get()
    father=fa1.get()
    mother=mo1.get()
    caste=ca1.get()
    place_birth=pl1.get()
    DOB=db1.get()
    DOB2=db2.get()
    last_sch_clg=la1.get()
    DOA=ad1.get()
    mob=mb1.get()
    
    if (roll_no=="" or name=="" or father=="" or mother=="" or caste=="" or place_birth=="" or DOB=="" or DOB2=="" or last_sch_clg=="" or DOA=="" or mob=="" ):
        messagebox.showinfo("Student Info ","All fields are required to fill")
        
    else:
        conn=mysql.connector.connect(host='localhost',user='root',passwd='********',database="project")
        query1="INSERT INTO prot2(roll_no,name,father,mother,caste,place_birth,DOB,DOB2,last_sch_clg,DOA,mob) VALUES('%s','%s','%s','%s','%s','%s','%s','%s','%s','%s','%s')"%(roll_no,name,father,mother,caste,place_birth,DOB,DOB2,last_sch_clg,DOA,mob)  #names as per created in tables
        mycur=conn.cursor()
        mycur.execute(query1)
        conn.commit()
        conn.close()
        messagebox.showinfo("Student Info ","Student info Submitted")
        rn1.set('')
        na1.set('')
        fa1.set('')
        mo1.set('')
        ca1.set('')
        pl1.set('')
        db1.set('')
        db2.set('')
        la1.set('')
        ad1.set('')
        mb1.set('')
        
        
#=======================CLEAR===========================================#

def reset():
        rn1.set('')
        na1.set('')
        fa1.set('')
        mo1.set('')
        ca1.set('')
        pl1.set('')
        db1.set('')
        db2.set('')
        la1.set('')
        ad1.set('')
        mb1.set('')


#=======================CLEAR===========================================# 
    
def clear():
    treev.delete(*treev.get_children())  # '*' for we dont know how many values in tree view
    
#=======================DELETE===========================================#

def delete():
    global tt
    rs=tt.get()
    if rs=="":
        messagebox.showinfo("Student Info ","All fields are required to fill")
    else:
        conn=mysql.connector.connect(host='localhost',user='root',passwd='********',database="project")
        quer1="DELETE FROM PROT2 WHERE roll_no='%s'"%(rs)
        mycur=conn.cursor()
        mycur.execute(quer1)
        conn.commit()
        mycur.close()
        conn.close()
        messagebox.showinfo("Student Info ","Record Deleted Successfully")
        tt.set('')

#=======================SELECT===========================================#
        
        
def select():
    global updata
    up=updata.get()
    if up=="":
        messagebox.showinfo("Student Info ","All fields are required to fill")
    else:
        conn=mysql.connector.connect(host='localhost',user='root',passwd='********',database="project")
        qur1="SELECT * FROM prot2 WHERE roll_no='%s'"%(up)
        mycur=conn.cursor()
        mycur.execute(qur1)
        result=mycur.fetchall()
        for i in result:
            ent12.insert(0,i[0])
            ent1.insert(0,i[1])
            ent2.insert(0,i[2])
            ent3.insert(0,i[3])
            ent4.insert(0,i[4])
            ent5.insert(0,i[5])
            ent6.insert(0,i[6])
            ent7.insert(0,i[7])
            ent8.insert(0,i[8])
            ent9.insert(0,i[9])
            ent10.insert(0,i[10])
        updata.set('')
# #======================Connect LC===========================================#

def ConnectLC():
    os.system('ipython "C://Leaving Certificate Generation//Generating_LC.ipynb"')

    
#=======================UPDATE===========================================#
         
def update():
    
    roll_no=rn1.get()
    name=na1.get()
    father=fa1.get()
    mother=mo1.get()
    caste=ca1.get()
    place_birth=pl1.get()
    DOB=db1.get()
    DOB2=db2.get()
    last_sch_clg=la1.get()
    DOA=ad1.get()
    mob=mb1.get()
    if (roll_no=="" or name=="" or father=="" or mother=="" or caste=="" or place_birth=="" or DOB=="" or DOB2=="" or last_sch_clg=="" or DOA=="" or mob=="" ):
        messagebox.showinfo("Student Info ","All fields are required to fill")
        
    else:
        conn=mysql.connector.connect(host='localhost',user='root',passwd='********',database="project")
        qu1="update prot2 set roll_no='"+roll_no+"', name='"+name+"',father='"+father+"',mother='"+mother+"',caste='"+caste+"',place_birth='"+place_birth+"',DOB='"+DOB+"',DOB2='"+DOB2+"',last_sch_clg='"+last_sch_clg+"',DOA='"+DOA+"',mob='"+mob+"' where roll_no='"+roll_no+"'"
        mycur=conn.cursor()
        mycur.execute(qu1)
        conn.commit()
        conn.close()
        messagebox.showinfo("Student Info ","Student info Updated")
        rn1.set('')
        na1.set('')
        fa1.set('')
        mo1.set('')
        ca1.set('')
        pl1.set('')
        db1.set('')
        db2.set('')
        la1.set('')
        ad1.set('')
        mb1.set('')
        
        

#==============Lables And Entry=========================#

#Roll number

label12=Label(win,text="Roll No",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label12.place(x=25,y=20)

ent12=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=rn1,font=('times new roman',12,'bold'))
ent12.place(x=250,y=20)

#Name
label1=Label(win,text="Name",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label1.place(x=25,y=60)

ent1=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=na1,font=('times new roman',12,'bold'))
ent1.place(x=250,y=60)

#Father's_Name
label2=Label(win,text="Father's Name",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label2.place(x=25,y=100)

ent2=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=fa1,font=('times new roman',12,'bold'))
ent2.place(x=250,y=100)

#Mother's_Name

label3=Label(win,text="Mother's Name",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label3.place(x=25,y=140)

ent3=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=mo1,font=('times new roman',12,'bold'))
ent3.place(x=250,y=140)

#Caste

label4=Label(win,text="Caste & Sub-Caste",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label4.place(x=25,y=180)

ent4=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=ca1,font=('times new roman',12,'bold'))
ent4.place(x=250,y=180)

#Place of birth

label5=Label(win,text="Place of Birth",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label5.place(x=25,y=220)

ent5=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=pl1,font=('times new roman',12,'bold'))
ent5.place(x=250,y=220)

#DOB

label6=Label(win,text="Date of Birth (Figure)",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label6.place(x=25,y=260)

ent6=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=db1,font=('times new roman',12,'bold'))
ent6.place(x=250,y=260)

label6=Label(win,text="Date of Birth (Words)",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label6.place(x=25,y=300)

ent7=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=db2,font=('times new roman',12,'bold'))
ent7.place(x=250,y=300)

#Last School/College

label7=Label(win,text="Last School/College",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label7.place(x=25,y=340)

ent8=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=la1,font=('times new roman',12,'bold'))
ent8.place(x=250,y=340)

#DOA

label8=Label(win,text="Date of Admission",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label8.place(x=25,y=380)

ent9=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=ad1,font=('times new roman',12,'bold'))
ent9.place(x=250,y=380)

#Mobile Number

label9=Label(win,text="Mobile Number",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label9.place(x=25,y=420)

ent10=Entry(win,bd=5,fg='black',bg='white',width=40,textvariable=mb1,font=('times new roman',12,'bold'))
ent10.place(x=250,y=420)

#Data in table form
label9=Label(win,text="Data in Tabular Form",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
label9.place(x=825,y=12)

#delete by roll number
lbl5=Label(win,text="Delete by Roll No. >>",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
lbl5.place(x=25,y=500)

tt=StringVar()
ent11=Entry(win,bd=5,fg='black',bg='white',width=20,textvariable=tt,font=('times new roman',12,'bold'))
ent11.place(x=250,y=500)    
        
#update by roll number
lbl5=Label(win,text="Update by Roll No. >>",bg='white',bd=5,width=20,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
lbl5.place(x=25,y=540)

updata=StringVar()
ent11=Entry(win,bd=5,fg='black',bg='white',width=20,textvariable=updata,font=('times new roman',12,'bold'))
ent11.place(x=250,y=540) 

# #Create LC by roll number
# lbl13=Label(win,text="Create LC by Roll Number >>",bg='white',bd=5,width=25,fg='black',relief='ridge',font=('times new roman',12,'bold'))    #win is object
# lbl13.place(x=655,y=550)

# create=StringVar()
# ent13=Entry(win,bd=5,fg='black',bg='white',width=10,textvariable=create,font=('times new roman',12,'bold'))
# ent13.place(x=910,y=550) 


#==============Buttons=========================#

#Ready for LC
addbtn=Button(win,text='READY  FOR  LC',width=30,height=3,command=ConnectLC)  #command parameter for function
addbtn.place(x=825,y=550)

#submit button
addbtn=Button(win,text='SUBMIT',width=20,command=add)  #command parameter for function
addbtn.place(x=250,y=460)

#reset button
addbtn=Button(win,text='RESET',width=18,command=reset)  #command parameter for function
addbtn.place(x=425,y=460)


#show button
shwbtn=Button(win,text='SHOW',width=20,command=show)  #command parameter for function
shwbtn.place(x=750,y=500)


#clear button
clearbtn=Button(win,text='CLEAR',width=20,command=clear)
clearbtn.place(x=950,y=500)

#delete button
deletebtn=Button(win,text='DELETE',width=15,relief='ridge',command=delete).place(x=450,y=500)


#update button
updatebtn=Button(win,text='2nd>> Update',width=15,command=update)
updatebtn.place(x=450,y=580)

#select button
selectbtn=Button(win,text='1st>> Select',width=15,command=select)
selectbtn.place(x=450,y=540)


#treeview
treev=ttk.Treeview(win,selectmode='browse',height=20)
treev.place(x=605,y=50,width=630)

# scrollbar
# verscroll=ttk.Scrollbar(win,orient='vertical',command=treev.yview) #tree-view object with y-side
# verscroll.pack(side='right',fill='x')
# treev.configure(xscrollcommand=verscroll.set)

scroll=Scrollbar(win)
scroll.pack(side=RIGHT,fill=Y)
scroll.config(command=treev.yview)

#==============TreeView Data============#

treev['columns']=("1","2","3","4","5","6","7","8","9")
treev['show']='headings'
treev.column("1",width=40,anchor='c')
treev.column("2",width=40,anchor='se')
treev.column("3",width=40,anchor='se')
treev.column("4",width=40,anchor='se')
treev.column("5",width=40,anchor='se')
treev.column("6",width=40,anchor='se')
treev.column("7",width=40,anchor='se')
treev.column("8",width=40,anchor='se')
treev.column("9",width=40,anchor='se')


treev.heading("1",text="Roll No")
treev.heading("2",text="Name")
treev.heading("3",text="Father")
treev.heading("4",text="Mother")
treev.heading("5",text="Caste")

treev.heading("6",text="Place of Birth")
treev.heading("7",text="DOB")
treev.heading("8",text="DOA")
treev.heading("9",text="Mobile No")

win.mainloop()